.container-fluid{
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
}

.progress {
    height: 20px;
}

.pr1 {
    width: 20%;
}

.pr2 {
    width: 90%;
}

.pr3 {
    width: 40%;
}

.pr4 {
    width: 25%;
}

.shadow{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15) !important;

}
.pr5{
    width: 100%;
}
.pr6{
    width: 90%;
}
.pr7{
    width: 50%;
}